body {
    height: 10vh;
    margin: 0;
    //display: flex;
    display: inline;
    place-items: center;
  }
  .box {
    width: 5px;
    h1 {
      font-size: 20px;
      margin: 0 0 1rem 0;
    }
  }
  .w-6 {
    width: 1.5rem;
  }
  .h-6 {
    height: 1.5rem;
  }
  .flex {
    display: inline-block;
  }
  .cursor-pointer {
    cursor: pointer;
  }