.home {
    height: 100vh;
    display: flex;

    flex-direction: column;

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .formContainer {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .formPaper  {
                padding: 1rem 2rem;

                
            }
        }

        .paper {
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }    


    }

        
    
}
 h3{
     align-items: flex-start;
     position: relative;
 }



