.login {
    min-height: 100vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;

    .paper {
        
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .loginBtn {
        width: 100%;
    }

    
}
